#navbar {
    a {
        @media screen and (max-width: 768px) {
            padding: $pd-1 $pd-2;
        }
    }
    a:first-of-type {
        @media screen and (max-width: 768px) {
            padding: $pd-1 $pd-2;
        }
    }
    .navbar-collapse {
        @media screen and (max-width: 768px) {
            // border-top: $border-2;
        }
    }
    .discover-menu {
        &::before {
            @media screen and (max-width: 768px) {
                @include arrow(10%, unset);
                top: 4.5rem;
            }
        }
    }
}

#search-area {
    @media screen and (max-width: 768px) {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #intro {
        .intro-container {
            .intro-right {
                background: url("../../img/our-vehicles-intro-2.jpg") center center;
                background-size: cover;
                background-clip: content-box;
                .intro-right-content {
                    width: 40%;
                    left: 5%;
                }
            }
        }
    }

    #our-vehicles-slide {
        .carousel-indicator-xs {
            position: absolute;
            top: 0%;
            left: 20%;
            z-index: 9;
        }
        .carousel-indicators-config {
            li {
                font-size: $font-size-1 - 2;
            }
        }
        .carousel-caption-config {
            width: 45% !important;
            margin-left: 25%;
            margin-right: 25%;
            text-align: center;
            bottom: unset;
            top: 42% !important;

            .carousel-caption-detail {
                margin: 0;
                .carousel-detail-content {
                    h2 {
                        font-size: $font-size-2;
                    }
                }
            }

            .carousel_caption_footer {
                border: none;
                width: 100%;
                justify-content: center;
                bottom: -20%;
                img {
                    display: none;
                }
            }
        }
        .carousel-control-next {
            right: 1rem;
        }
        .carousel-control-prev {
            left: 1rem;
        }
        .carousel-inner {
            top: $mg-3;
        }
    }

    #search-field {
        padding: 0;
        text-transform: capitalize;
        flex-wrap: wrap;
        div {
            padding: $pd-1 $pd-3;
            width: 100%;
            border-right: none;
            border-top: $border-3;
            input {
                width: 70%;
                font-size: $font-size-1;
                &::placeholder {
                    text-transform: capitalize;
                    font-size: $font-size-1;
                }
            }
            .btn-search {
                border-color: $color-blue-100;
                border-radius: 40px;
                color: $color-blue-200;
                &:hover {
                    color: $color-white;
                }
            }
        }
        .search-field-right {
            padding: $pd-2;
            text-align: center;
        }
    }
    #footer {
        background-color: $color-white;
        .footer-detail {
            width: 100%;

            h1 {
                font-size: $font-size-1;
                margin-bottom: $mg-1 - 3;
                background-color: $color-grey;
                padding: $pd-2;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                i {
                    @include social-icon;
                    color: $color-blue-200;
                    background-color: transparent;
                    border: $border-1;
                }
            }
            ul {
                padding: $pd-3;
                li {
                }
            }
        }
        .footer-touch {
            flex-wrap: wrap;
            .footer-left,
            .touch-right {
                width: 50%;

                align-items: center;
                justify-content: center;
            }
            .touch-right {
                .btn-search {
                    border-color: $color-blue-100;

                    border-radius: 40px;
                    color: $color-blue-200;
                    &:hover {
                        background-color: $color-blue-100;
                        color: $color-white;
                    }
                }
            }
        }
    }
    #copy-right {
        .copy-right-left {
            p {
                font-size: $font-size-1 - 0.2rem;
            }
        }
        .copy-right-right {
            ul {
                justify-content: center;
                & > li:first-child {
                    padding: 0;
                }
                li {
                    padding: 0 $pd-3;
                    margin: 0 $mg-1;

                    a {
                        font-size: $font-size-1 - 0.2rem;
                    }
                }
            }
        }
        .logo-footer {
            img {
                height: 40px;
            }
        }
    }
}
