#navbar {
    a {
        @media screen and (max-width: 576px) {
            padding: $pd-1 $pd-2;
        }
    }
    a:first-of-type {
        @media screen and (max-width: 576px) {
            padding: $pd-1 $pd-2;
        }
    }
    .navbar-collapse {
        @media screen and (max-width: 576px) {
            border-top: $border-2;
        }
    }
}
@media screen and (max-width: 576px) {
    #vehicles {
        #vehicle-content {
            .vehicle-nav {
                ul li {
                    display: inline-block;
                    margin-bottom: $mg-3;
                    a {
                        padding: $pd-1 $pd-2;
                        border: none;
                    }
                }
            }
        }
    }
    #swiper-slider {
        margin-top: $mg-5 + 2;
    }

    // 4. My Vehicles
    #our-vehicles {
        h1 {
            font-size: $font-size-3;
            margin-bottom: $mg-2;
        }
        #our-vehicles-slide {
            .carousel-indicator-xs {
                position: absolute;
                top: 0%;
                left: 20%;
                z-index: 9;
            }
            .carousel-indicators-config {
                li {
                    font-size: $font-size-1 - 2;
                }
            }
            .carousel-caption-config {
                width: 70%;
                margin-left: 15%;
                margin-right: 15%;
                text-align: center;
                bottom: unset;
                top: 40%;

                .carousel-caption-detail {
                    margin: 0;
                    .carousel-detail-content {
                        h2 {
                            font-size: $font-size-2;
                        }
                    }
                }

                .carousel_caption_footer {
                    border: none;
                    width: 100%;
                    justify-content: center;
                    bottom: -20%;
                    img {
                        display: none;
                    }
                }
            }
            .carousel-control-next {
                right: 1rem;
            }
            .carousel-control-prev {
                left: 1rem;
            }
            .carousel-inner {
                top: $mg-3;
            }
        }
        #vehicle-function {
            .pd-col {
                .function {
                    background-position: center -6rem;
                }
            }
        }
    }
    .intro {
        .intro-container {
            .intro-right {
                margin-top: $mg-2;
            }
        }
    }

    #search-field {
        padding: 0;
        text-transform: capitalize;
        flex-wrap: wrap;
        div {
            padding: $pd-1 0;
            width: 100%;
            border-right: none;
            border-top: $border-3;
            input {
                width: 60%;
                font-size: $font-size-1;
                &::placeholder {
                    text-transform: capitalize;
                    font-size: $font-size-1;
                }
            }
            .btn-search {
                border-color: $color-blue-100;
                border-radius: 40px;
                color: $color-blue-200;
                &:hover {
                    color: $color-white;
                }
            }
        }
        .search-field-right {
            padding: $pd-2;
            text-align: center;
        }
    }
    #footer {
        background-color: $color-white;
        .footer-detail {
            width: 100%;

            h1 {
                margin-bottom: $mg-1 - 3;
                background-color: $color-grey;
                padding: $pd-3 $pd-2;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                i {
                    @include social-icon;
                    color: $color-blue-200;
                    background-color: transparent;
                    border: $border-1;
                }
            }
            ul {
                padding: $pd-3;
                li {
                }
            }
        }
        .footer-touch {
            flex-wrap: wrap;
            .footer-left,
            .touch-right {
                width: 100%;
                text-align: left;
                padding: $pd-2 $pd-3;
            }
            .touch-right {
                .btn-search {
                    border-color: $color-blue-100;

                    border-radius: 40px;
                    color: $color-blue-200;
                    &:hover {
                        background-color: $color-blue-100;
                        color: $color-white;
                    }
                }
            }
        }
    }

    #copy-right {
        .copy-right-left {
            p {
                font-size: $font-size-1 - 0.2rem;
            }
        }
        .copy-right-right {
            ul {
                justify-content: flex-start;
                & > li:first-child {
                    padding: 0;
                }
                li {
                    padding: 0 $pd-1;
                    a {
                        font-size: $font-size-1 - 0.2rem;
                    }
                }
            }
        }
        .logo-footer {
            flex-wrap: wrap;
            justify-content: center;
            & > img:first-child {
                display: inline;
            }
            img {
                display: none;
            }
        }
    }
}
